<div class="col-lg-12 calibriFont">
<div class="well bs-component">
<form id="myform" class="form-horizontal" method="post" action="/signup">
  <fieldset>
    <legend>User Details</legend>

<% 
    if( query !== undefined ){
      if( query.localeCompare('alreadythere') === 0 ) { %>
        <div class="alert alert-danger alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong>Warning!</strong> Username already taken.
        </div> 
  <% }
   } %>

   <% var labelColClass = 'col-lg-2 calibriFont' %>
   <% var textBoxColClass = 'col-lg-3 textboxes calibriFont' %>
   <% var selectBoxStyle = ' padding-left: 5px; height : 30px ; align : left ; font-size: 17px '%>
   <% var labelSpaceWidth = 'width: 12.66666667%;' %>
   <% var offsetForCol2 = 'margin-left : 12.66666667%;' %>
   <% var textInputStyle = "padding-left: 5px ; height : 30px ;" %>
   <% var formGroup = ' margin-bottom : 2px; ' %>

        <!-- Employee code  -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="ecode" class="<%= labelColClass %>">Employee Code</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="ecode" id="ecode" required>
          </div>
        </div> 

        <!-- Employee Name  -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="ename" class="<%= labelColClass %>">Employee Name</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="ename" id="ename" required>
          </div>
        </div>

         <!-- Date of joining -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="doj" >Date of joining</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" class="form-control datepicker" type="date" placeholder="mm-dd-yyyy" name="doj" id="doj" required >
           </div>
        </div>  
           
    
              <!-- Department  -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="dept" class="<%= labelColClass %>">Department</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="dept" id="dept" required>
          </div>
        </div> 

     

        <!-- Designation  -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="desg" class="<%= labelColClass %>">Designation</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="desg" id="desg" required>
          </div>
        </div>

        <!-- Contact Number  -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="contnum" class="<%= labelColClass %>">Contact Number</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="tel" class="form-control" name="contnum" id="contnum"  required>
          </div>
        </div>        

        <!-- CTC  -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="ctc" class="<%= labelColClass %>">CTC</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="tel" class="form-control" name="ctc" id="ctc"  required>
          </div>
        </div>     

      <!-- Username -->
      <div class="form-group" style="<%= formGroup %>">
        <label style="<%= labelSpaceWidth%>" for="loginid" class="<%= labelColClass %>">Login ID</label>
        <div class="<%= textBoxColClass %>">
          <input style="<%= textInputStyle %>" type="text" class="form-control" name="username" id="username"  required>
        </div>
      </div>

      <!-- Password -->
      <div class="form-group" style=" margin-bottom : 2px; ">
        <label style="<%= labelSpaceWidth%>" for="password" class="<%= labelColClass %>">Password</label>
        <div class="<%= textBoxColClass %>">
          <input style="<%= textInputStyle %>" type="password" class="form-control" name="password" id="password"  required>
        </div>
      </div>

      <!-- Status -->
      <div class="form-group" style=" margin-bottom : 2px; ">
        <label style="<%= labelSpaceWidth%>" for="status" class="<%= labelColClass %>">Status</label>
        <div class="<%= textBoxColClass %>">
          <input style="<%= textInputStyle %>" type="text" class="form-control" name="status" id="status"  required>
        </div>
      </div>

      <!-- Role -->
      <div class="form-group" style=" margin-bottom : 2px; ">
          <label style="<%= labelSpaceWidth%>" for="role" class="<%= labelColClass %>">Role</label>
          <div class="<%= textBoxColClass %> calibriFont">
            <select style="<%= selectBoxStyle %>"  name="role" id="role" required>
                    <% for(var i=0 ; i< roles.length ; i++) { %>
                        <option value=<%= roles[i].id %>><%= roles[i].title %></option>
                    <% } %>
            </select>
        </div>
      </div>    


      <!-- Date of Resignation -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="dor" >Date of resignation</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" class="form-control datepicker" type="date" placeholder="mm-dd-yyyy" name="dor" id="dor" required >
           </div>
        </div>  

      <!-- Cancel and Submit Button -->
      <div class="form-group" style="<%= formGroup %>">
        <div class="col-lg-offset-2" style="<%= offsetForCol2 %> margin-top : 10px;">
          <a onclick="submitFunc();" class="btn btn-primary calibriFont" style="padding-bottom : 10px margin-top : 10px;">
            <i class="fa fa-check"></i> &nbsp; Save
          </a>
        </div>
      </div>
      <script type="text/javascript">
      function submitFunc()
      {
        document.getElementById('myform').submit();
      }
    </script>
  </fieldset>
</form>
</div><!-- end of well bs-component -->
</div><!-- end of col-lg-6 -->