<!-- Project Details -->
<div class="col-lg-12">
	<div class="panel panel-primary">
	    <div class="panel-heading"><strong>Edit Project</strong></div>
		<div class="panel-body">
      <form id="myform" class="form-horizontal" method="post" action="/projupdate">

          <% var labelColClass = 'col-lg-2 calibriFont' %>
          <% var textBoxColClass = 'col-lg-3 textboxes calibriFont' %>
          <% var selectBoxStyle = ' padding-left: 5px; height : 30px ; align : left ; font-size: 17px '%>
          <% var labelSpaceWidth = 'width: 12.66666667%;' %>
          <% var offsetForCol2 = 'margin-left : 12.66666667%;' %>
          <% var textInputStyle = "padding-left: 5px ; height : 30px ;" %>
          <% var formGroup = ' margin-bottom : 2px; ' %>

          <input type="hidden" name="id" value=<%= proj.id %> />

          <!-- Customer ID -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="custid" >Customer ID</label>
            <div class="<%= textBoxColClass %>">
              <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="custid" id="custid" value=<%= proj.cust %> required readonly>
            </div>
          </div>

          <!-- Customer Name -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="custname" >Customer Name</label>
            <div class="<%= textBoxColClass %>">
              <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="custname" id="custname" value=<%= proj.custname %> required readonly>
            </div>
          </div>

          <!-- Project Name -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="projname" >Project Name</label>
            <div class="<%= textBoxColClass %>">
              <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="projname" id="projname" required title="Project Name" 
              value=<%= proj.projname %> >
            </div>
          </div>

          <!-- Project Type -->
          <div class="form-group" style="<%= formGroup %>">
              <label style="<%= labelSpaceWidth%>" for="projtype" class="<%= labelColClass %>">Project Type</label>
              <div class="<%= textBoxColClass %> calibriFont">
                  <select style="<%= selectBoxStyle %>" name="projtype" id="projtype"  required title="Project Type">
                    <option <% if(proj.projtype.localeCompare('Factory') === 0 ) {%>  selected <% } %>>Factory</option>
                    <option <% if(proj.projtype.localeCompare('Institution') === 0 ) {%>  selected <% } %>>Institution</option>
                    <option <% if(proj.projtype.localeCompare('House') === 0 ) {%>  selected <% } %>>House</option>
                    <option <% if(proj.projtype.localeCompare('Apartment') === 0 ) {%>  selected <% } %>>Apartment</option>
                    <option <% if(proj.projtype.localeCompare('Hospital') === 0 ) {%>  selected <% } %>>Hospital</option>
                  </select>
              </div>
          </div>     
           <!-- Call Type -->
          <div class="form-group" style="<%= formGroup %>">
              <label style="<%= labelSpaceWidth%>" for="calltype" class="<%= labelColClass %>">Project Type</label>
              <div class="<%= textBoxColClass %> calibriFont">
                  <select style="<%= selectBoxStyle %>" name="projtype" id="projtype"  required title="Project Type">
                    <option <% if(proj.projtype.localeCompare('Factory') === 0 ) {%>  selected <% } %>>Factory</option>
                    <option <% if(proj.projtype.localeCompare('Institution') === 0 ) {%>  selected <% } %>>Institution</option>
                    <option <% if(proj.projtype.localeCompare('House') === 0 ) {%>  selected <% } %>>House</option>
                    <option <% if(proj.projtype.localeCompare('Apartment') === 0 ) {%>  selected <% } %>>Apartment</option>
                    <option <% if(proj.projtype.localeCompare('Hospital') === 0 ) {%>  selected <% } %>>Hospital</option>
                  </select>
              </div>
          </div>     

          <!-- Description -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" for="description" class="<%= labelColClass %>">Description</label>
            <div class="<%= textBoxColClass %>">
              <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="description" id="description" value=<%=proj.description %>>
            </div>
          </div>

          <!-- Start Date -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" for="startdate" class="<%= labelColClass %>">Start Date</label>
            <div class="<%= textBoxColClass %>">
              <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" style="padding-left: 5px; height : 30px ; align : left" name="startdate" id="startdate" value=<%=proj.startdate %>>            
            </div>
          </div>    

          <!-- End Date -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" for="enddate" class="<%= labelColClass %>">End Date</label>
            <div class="<%= textBoxColClass %>">
              <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" style="padding-left: 5px; height : 30px ; align : left" name="enddate" id="enddate" value=<%=proj.enddate %>>>            
            </div>
          </div> 

          <!-- Address  -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" for="addr" class="<%= labelColClass %>">Address</label>
            <div class="<%= textBoxColClass %>">
              <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="addr" id="addr" value=<%=proj.addr %>>
            </div>
          </div>

          <!-- Bulding Stage -->
          <div class="form-group" style="<%= formGroup %>">
              <label style="<%= labelSpaceWidth%>" for="buildstage" class="<%= labelColClass %>">Bulding Stage</label>
              <div class="<%= textBoxColClass %> calibriFont">
                  <select style="<%= selectBoxStyle %>" name="buildstage" id="buildstage" >
                    <option <% if(proj.buildstage.localeCompare('Plastering') === 0 ) {%>  selected <% } %>>Plastering</option>
                    <option <% if(proj.buildstage.localeCompare('Plumbing') === 0 ) {%>  selected <% } %>> Plumbing</option>
                    <option <% if(proj.buildstage.localeCompare('Concrete Over') === 0 ) {%>  selected <% } %>> Concrete Over</option>
                    <option <% if(proj.buildstage.localeCompare('Brick Work') === 0 ) {%>  selected <% } %>> Brick Work</option>
                    <option <% if(proj.buildstage.localeCompare('Basement') === 0 ) {%>  selected <% } %>> Basement</option>
                  </select>
              </div>
          </div>

      <!-- Update Button -->
      <div class="form-group" style="<%= formGroup %>">
        <div class="col-lg-offset-2" style="<%= offsetForCol2 %> margin-top : 10px;">
          <a onclick="submitFunc();" class="btn btn-primary calibriFont" style="padding-bottom : 10px margin-top : 10px;">
            <i class="fa fa-edit"></i> &nbsp; Update
          </a>
        </div>
      </div>
      <script type="text/javascript">
      function submitFunc()
      {
        document.getElementById('myform').submit();
      }
    </script>        

      </form>
		</div><!-- Very Basic Panel Body End -->
	</div><!-- Very Basic Panel End -->
</div><!-- col for Very Basic End -->