<div class="col-lg-12 calibriFont">
  <div class="well bs-component">
    <form id="myform" class="form-horizontal" method="post" action='\projreqadd'>
      <fieldset>
        <legend>Project</legend>
        <br>
        <% if( query !== undefined ){
          if( query.localeCompare('alreadythere') === 0 ) { %>
            <div class="alert alert-danger alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <strong>Warning!</strong> Project name already exists.
            </div> 
          <% }
        } %>
    
        <% var labelColClass = 'col-lg-2 calibriFont' %>
        <% var textBoxColClass = 'col-lg-3 textboxes calibriFont' %>
        <% var selectBoxStyle = ' padding-left: 5px; height : 30px ; align : left ; font-size: 17px '%>
        <% var labelSpaceWidth = 'width: 13.66666667%;' %>
        <% var offsetForCol2 = 'margin-left : 12.66666667%;' %>
        <% var textInputStyle = "padding-left: 5px ; height : 30px ;" %>
        <% var formGroup = ' margin-bottom : 5px; ' %>
        
        <input type="hidden" name="id" value=<%= cust.id %> />

          <!-- Customer ID -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="custid" >Customer ID</label>
            <div class="<%= textBoxColClass %>">
              <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="custid" id="custid" value=<%= cust.cid %> required readonly>
            </div>
          </div>

          <!-- Customer Name -->
          <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="custname" >Customer Name</label>
            <div class="<%= textBoxColClass %>">
              <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="custname" id="custname" value=<%= cust.custname %> required readonly>
            </div>
          </div>

        <!-- Project Name -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="projname" >Project Name</label>
          <div class="<%= textBoxColClass %>">
            <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="projname" id="projname" required title="Project Name" value=<%= cust.custname + '-Project-' %>>
          </div>
        </div>

        <!-- Project Type -->
        <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" for="projtype" class="<%= labelColClass %>">Project Type</label>
            <div class="<%= textBoxColClass %> calibriFont">
                <select style="<%= selectBoxStyle %>" name="projtype" id="projtype"  required title="Project Type">
                  <option>Select Project Type</option>
                  <% for(var i=0 ; i< projtype.length ; i++) { %>
                    <option value=<%= projtype[i].id %>><%= projtype[i].projtype %></option>
                  <% } %>
                </select>
            </div>
        </div> 

        <!-- Description -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="description" class="<%= labelColClass %>">Description</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="description" id="description" >
          </div>
        </div>

        <!-- Start Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="startdate" class="<%= labelColClass %>">Start Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" style="padding-left: 5px; height : 30px ; align : left" name="startdate" id="startdate" >            
          </div>
        </div>    

        <!-- End Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="enddate" class="<%= labelColClass %>">End Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" style="padding-left: 5px; height : 30px ; align : left" name="enddate" id="enddate" >            
          </div>
        </div> 

        <!-- Address  -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="addr" class="<%= labelColClass %>">Address</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="addr" id="addr">
          </div>
        </div>

        <!-- Bulding Stage -->
        <div class="form-group" style="<%= formGroup %>">
            <label style="<%= labelSpaceWidth%>" for="buildstage" class="<%= labelColClass %>">Bulding Stage</label>
            <div class="<%= textBoxColClass %> calibriFont">
                <select style="<%= selectBoxStyle %>" name="buildstage" id="buildstage" >
                  <option>Select Building Stage</option>
                  <option>Plastering</option>
                  <option>Plumbing</option>
                  <option>Concrete Over</option>
                  <option>Brick Work</option>
                  <option>Basement</option>
                </select>
            </div>
        </div>    

        <legend>Requirement</legend>
        <br>

        <!-- Requirement Type -->
        <div class="form-group"  >            
            <div class="<%= labelColClass %> calibriFont">
              <input type="checkbox" name="chim" value="chim" id="chim"/> Chimney <br />              
            </div>       
           </div>         

      <div id="chimdiv" style="visibility:hidden;display:none;margin-bottom:2px;margin-left:40px;"" class="form-group">
        <!-- Measurement/Quantity -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="chimmeasure" class="<%= labelColClass %>">Quantity</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="chimmeasure" id="chimmeasure" >
          </div>
        </div>    
              
        <!-- Approximate Value -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="chimapprox" class="<%= labelColClass %>">Approximate Value</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="chimapprox" id="chimapprox" >
          </div>
        </div> 

        <!-- Requirement Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="chimreqdate" class="<%= labelColClass %>">Requirement Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy" style="padding-left: 5px; height : 30px ; align : left" name="chimreqdate" id="chimreqdate" >
          </div>
        </div> 

        <!-- Remarks -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="chimremarks" class="<%= labelColClass %>">Remarks</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="chimremarks" id="chimremarks" >
          </div>
        </div>   
    </div>    

        <div class="form-group"  >            
            <div class="<%= labelColClass %> calibriFont">
              <input type="checkbox" name="sol" value="sol" id="sol"/> Solar <br />
            </div>       
           </div>  

  <div id="soldiv" style="visibility:hidden;display:none;margin-bottom:2px;margin-left:40px;"" class="form-group">
        <!-- Measurement/Quantity -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="solmeasure" class="<%= labelColClass %>">Quantity</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="solmeasure" id="solmeasure" >
          </div>
        </div>    
              
        <!-- Approximate Value -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="solapprox" class="<%= labelColClass %>">Approximate Value</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="solapprox" id="solapprox" >
          </div>
        </div> 

        <!-- Requirement Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="solreqdate" class="<%= labelColClass %>">Requirement Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy"  style="padding-left: 5px; height : 30px ; align : left" name="solreqdate" id="solreqdate" >
          </div>
        </div> 

        <!-- Remarks -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="solremarks" class="<%= labelColClass %>">Remarks</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="solremarks" id="solremarks" >
          </div>
        </div>   
    </div>
           
        <div class="form-group"  >            
            <div class="<%= labelColClass %> calibriFont">
              <input type="checkbox" name="wtile" value="wtile" id="wtile"/> Wall Tiles <br />
            </div>       
           </div> 

<div id="wtilediv" style="visibility:hidden;display:none;margin-bottom:2px;margin-left:40px;"" class="form-group">
        <!-- Measurement/Quantity -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="wtilemeasure" class="<%= labelColClass %>">Measurement</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="wtilemeasure" id="wtilemeasure" >
          </div>
        </div>    
              
        <!-- Approximate Value -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="wtileapprox" class="<%= labelColClass %>">Approximate Value</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="wtileapprox" id="wtileapprox" >
          </div>
        </div> 

        <!-- Requirement Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="wtilereqdate" class="<%= labelColClass %>">Requirement Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy"  style="padding-left: 5px; height : 30px ; align : left" name="wtilereqdate" id="wtilereqdate" >
          </div>
        </div> 

        <!-- Remarks -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="wtileremarks" class="<%= labelColClass %>">Remarks</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="wtileremarks" id="wtileremarks" >
          </div>
        </div>   
    </div>           

        <div class="form-group"  >            
            <div class="<%= labelColClass %> calibriFont">
              <input type="checkbox" name="ftile" value="ftile" id="ftile"/> Floor Tiles <br />
            </div>       
           </div>     

<div id="ftilediv" style="visibility:hidden;display:none;margin-bottom:2px;margin-left:40px;"" class="form-group">
        <!-- Measurement/Quantity -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="ftilemeasure" class="<%= labelColClass %>">Measurement</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="ftilemeasure" id="ftilemeasure" >
          </div>
        </div>    
              
        <!-- Approximate Value -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="ftileapprox" class="<%= labelColClass %>">Approximate Value</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="ftileapprox" id="ftileapprox" >
          </div>
        </div> 

        <!-- Requirement Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="ftilereqdate" class="<%= labelColClass %>">Requirement Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy"  style="padding-left: 5px; height : 30px ; align : left" name="ftilereqdate" id="ftilereqdate" >
          </div>
        </div> 

        <!-- Remarks -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="ftileremarks" class="<%= labelColClass %>">Remarks</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="ftileremarks" id="ftileremarks" >
          </div>
        </div>   
    </div>  


        <div class="form-group"  >            
            <div class="<%= labelColClass %> calibriFont">
              <input type="checkbox" name="sanit" value="sanit" id="sanit"/> Sanitarywares <br />
            </div>       
           </div>     

<div id="sanitdiv" style="visibility:hidden;display:none;margin-bottom:2px;margin-left:40px;"" class="form-group">
        <!-- Measurement/Quantity -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="sanitmeasure" class="<%= labelColClass %>">Quantity</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="sanitmeasure" id="sanitmeasure" >
          </div>
        </div>    
              
        <!-- Approximate Value -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="sanitapprox" class="<%= labelColClass %>">Approximate Value</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="sanitapprox" id="sanitapprox" >
          </div>
        </div> 

        <!-- Requirement Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="sanitreqdate" class="<%= labelColClass %>">Requirement Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy"  style="padding-left: 5px; height : 30px ; align : left" name="sanitreqdate" id="sanitreqdate" >
          </div>
        </div> 

        <!-- Remarks -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="sanitremarks" class="<%= labelColClass %>">Remarks</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="sanitremarks" id="sanitremarks" >
          </div>
        </div>   
    </div>  

        <div class="form-group"  >            
            <div class="<%= labelColClass %> calibriFont">
              <input type="checkbox" name="pipe" value="pipe" id="pipe"/> Pipes and Fittings <br />
            </div>       
           </div>    

<div id="pipediv" style="visibility:hidden;display:none;margin-bottom:2px;margin-left:40px;"" class="form-group">
        <!-- Measurement/Quantity -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="pipemeasure" class="<%= labelColClass %>">Quantity</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="pipemeasure" id="pipemeasure" >
          </div>
        </div>    
              
        <!-- Approximate Value -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="pipeapprox" class="<%= labelColClass %>">Approximate Value</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="pipeapprox" id="pipeapprox" >
          </div>
        </div> 

        <!-- Requirement Date -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="pipereqdate" class="<%= labelColClass %>">Requirement Date</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control datepicker" placeholder="mm/dd/yyyy"  style="padding-left: 5px; height : 30px ; align : left" name="pipereqdate" id="pipereqdate" >
          </div>
        </div> 

        <!-- Remarks -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" for="piperemarks" class="<%= labelColClass %>">Remarks</label>
          <div class="<%= textBoxColClass %>">
            <input style="<%= textInputStyle %>" type="text" class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="piperemarks" id="piperemarks" >
          </div>
        </div>   
      </div>
<legend>&nbsp;&nbsp;Contact Details</legend>

<table id="vendortable"></table>

<br />

<center>
<button class="btn btn-success" onclick="doVendor(1);" ><i class="fa fa-plus"></i> &nbsp; Add New Contact</button>
<button class="btn btn-success" onclick="doVendor(2);" disabled id="btnassociate"><i class="fa fa-plus"></i> &nbsp; Add Existing Contact to Project</button>
</center>
<script>

    $(function () {
       $('#vendortable').bootstrapTable({
            method: 'get',
            url: '/listvendors',
            cache: false,            
            striped: false ,
            pagination: false,
            search: true,
            showRefresh: true,
            clickToSelect: true,
            onCheck : function(row){
                document.getElementById('btnassociate').disabled = false ;
            } ,

            columns: [{
                field: 'state',
                radio : true
            } , 

            {
                field: 'id',
                title: 'Id',
                align: 'left',
                valign: 'middle',
                sortable: false , 
                visible : false 
            } ,

            {
                field: 'venid',
                title: 'ID',
                align: 'left',
                valign: 'middle',
                sortable: true
            } , 

            {
                field: 'ventype',
                title: 'Type',
                align: 'left',
                valign: 'middle',
                sortable: true
            } , 

            {
                field: 'name',
                title: 'Name',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'addr',
                title: 'Address',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'pincode',
                title: 'Pin Code',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,       

            {
                field: 'mobno',
                title: 'Mobile No',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'llno',
                title: 'Landline No',
                align: 'left',
                valign: 'middle',
                sortable: true
            } ,

            {
                field: 'email',
                title: 'E-Mail ID',
                align: 'left',
                valign: 'middle',
                sortable: true
            }                 

            ]

        });

    });

</script>

<script>

    function doVendor(a){

        if(a === 1){
            document.getElementById('contdiv').style.display="block";
            document.getElementById('contdiv').style.visibility="visible";
        }
        else if(a === 2){
            var selectedRows =  $('#vendortable').bootstrapTable('getSelections');
            var selectedRow = selectedRows[0];
            $("#contid1").val(selectedRow.id);
        }
      
    }

</script>

<br>

<div class="form-group"  style="<%= formGroup %>">
                        <div class="col-xs-5">
                            <input type="hidden" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contid1" id="contid1" size="30"/>
                        </div>
                    </div>

<div id="contdiv" style="visibility:hidden;display:none;margin-bottom:2px;margin-left:40px;"" class="form-group">

                    <div class="form-group"  style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="contid" >Contact ID</label>
                        <div class="col-xs-5">
                            <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contid" id="contid" required size="30"/>
                        </div>
                    </div>

                    <div class="form-group" style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="conttype" >Contact Type</label>
                        <div class="col-xs-9" id="rad">
                        </div>
                    </div>

                    <div class="form-group" style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="contname" >Contact Name</label>
                        <div class="col-xs-5">
                            <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contname" id="contname" required size="30"/>
                        </div>
                    </div>

                    <div class="form-group" style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="contaddr" >Address</label>
                        <div class="col-xs-5">
                            <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contaddr" id="contaddr" size="30"/>
                        </div>
                    </div>                                                            

                    <div class="form-group" style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="contpin" >Pin Code</label>
                        <div class="col-xs-5">
                            <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contpin" id="contpin" size="30" />
                        </div>
                    </div>

                    <div class="form-group" style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="contmobno" >Mobile Number</label>
                        <div class="col-xs-5">
                            <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contmobno" id="contmobno" required size="30"/>
                        </div>
                    </div>

                    <div class="form-group" style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="contllno" >Landline Number</label>
                        <div class="col-xs-5">
                            <input type="text" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contllno" id="contllno" size="30"/>
                        </div>
                    </div>                                                            

                    <div class="form-group" style="<%= formGroup %>">
                        <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="contemail" >E-Mail ID</label>
                        <div class="col-xs-5">
                            <input type="email" style="<%= textInputStyle %>"  class="form-control" style="padding-left: 5px; height : 30px ; align : left" name="contemail" id="contemail" required size="30"/>
                        </div>
                    </div>


</div>


        <!-- Save button -->
        <div class="form-group" style="<%= formGroup %>">
          <div class="col-lg-10 col-lg-offset-2" style="margin-top : 10px;">
            <a onclick="submitFunc();" class="btn btn-primary calibriFont" style="padding-bottom : 10px"> Back to customer details </a>
            <a onclick="submitFunc1();" class="btn btn-primary calibriFont" style="padding-bottom : 10px"> Back to View details </a>
            <a onclick="submitFunc3();" class="btn btn-primary calibriFont" style="padding-bottom : 10px"> Save </a>
          </div>
        </div>

      </fieldset>
    </form>

  </div>
</div>


<script>

    $.get('/ventypelist').done( function(data){
    $('#rad').empty();  
    for(var i = 0 ; i < data.length ; i++){
      var radi = '<input type="radio" value="' + data[i].conttypename + '" name="conttype">&nbsp;' + data[i].conttypename + '&nbsp;&nbsp;&nbsp;';
      document.getElementById('rad').innerHTML = document.getElementById('rad').innerHTML + radi;
    }
    }); 

</script>
  
<script type="text/javascript">
  
function submitFunc()
  {       
    window.location='/custboard';
  }
function submitFunc1()
  {       
    window.location='/viewproj?id=' + '<%= cust.id %>';
  }
function submitFunc3()
  {       
    document.getElementById('myform').submit();
  }

 $(function(){

     $('input[type="checkbox"]').click(function(){
           if($(chim).is(":checked")){
         document.getElementById('chimdiv').style.display="block";
        document.getElementById('chimdiv').style.visibility="visible";
             }
             else if($(chim).is(":not(:checked)")){
          document.getElementById('chimdiv').style.display="none";
         document.getElementById('chimdiv').style.visibility="hidden"; 
             }
             if($(sol).is(":checked")){
         document.getElementById('soldiv').style.display="block";
        document.getElementById('soldiv').style.visibility="visible";
             }
             else if($(sol).is(":not(:checked)")){
          document.getElementById('soldiv').style.display="none";
         document.getElementById('soldiv').style.visibility="hidden"; 
             }
                          if($(wtile).is(":checked")){
         document.getElementById('wtilediv').style.display="block";
        document.getElementById('wtilediv').style.visibility="visible";
             }
             else if($(wtile).is(":not(:checked)")){
          document.getElementById('wtilediv').style.display="none";
         document.getElementById('wtilediv').style.visibility="hidden"; 
             }
                          if($(ftile).is(":checked")){
         document.getElementById('ftilediv').style.display="block";
        document.getElementById('ftilediv').style.visibility="visible";
             }
             else if($(ftile).is(":not(:checked)")){
          document.getElementById('ftilediv').style.display="none";
         document.getElementById('ftilediv').style.visibility="hidden"; 
             }
                          if($(sanit).is(":checked")){
         document.getElementById('sanitdiv').style.display="block";
        document.getElementById('sanitdiv').style.visibility="visible";
             }
             else if($(sanit).is(":not(:checked)")){
          document.getElementById('sanitdiv').style.display="none";
         document.getElementById('sanitdiv').style.visibility="hidden"; 
             }
                          if($(pipe).is(":checked")){
         document.getElementById('pipediv').style.display="block";
        document.getElementById('pipediv').style.visibility="visible";
             }
             else if($(pipe).is(":not(:checked)")){
          document.getElementById('pipediv').style.display="none";
         document.getElementById('pipediv').style.visibility="hidden"; 
             }
         });


    $('.datepicker').datepicker({
      format: 'mm/dd/yyyy'
    });    
   
    $('#startdate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });    

    $('#enddate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });
  
    $('#chimreqdate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });    

    $('#solreqdate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });  

    $('#wtilereqdate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });    

    $('#ftilereqdate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });
  
    $('#sanitreqdate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });    

    $('#pipereqdate').on('changeDate', function(ev){
        $(this).datepicker('hide');
    });  
  
});
                                                     
</script>



