<% var labelColClass = 'col-lg-2 calibriFont' %>
<% var textBoxColClass = 'col-lg-3 textboxes calibriFont' %>
<% var selectBoxStyle = ' padding-left: 5px; height : 30px ; align : left ; font-size: 17px '%>
<% var labelSpaceWidth = 'width: 12.66666667%;' %>
<% var offsetForCol2 = 'margin-left : 12.66666667%;' %>
<% var textInputStyle = "padding-left: 5px ; height : 30px ;" %>
<% var formGroup = ' margin-bottom : 2px; ' %>  
<% var numberInputStyle = "padding-left: 5px ; height : 30px ;padding-right: 0px;padding-top: 0px;padding-bottom : 0px" %>

<div class="col-lg-12">
  <div class="well bs-component">
    <form id="myform" class="form-horizontal" method="post" action="/roleadd">
      <fieldset>
        <legend>Add Role</legend>

        <% 
          if( query !== undefined ){
            if( query.localeCompare('alreadythere') === 0 ) { %>
              <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>Warning!</strong> Role is already Present.
              </div> 
            <% }
        } %>

        <!--Title -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="fname" >Title</label>
          <div class="<%= textBoxColClass %>">
            <input type="text" style="<%= textInputStyle %>" class="form-control" name="title" id="title" required title="Title">
          </div>
        </div>

        <!--Description -->
        <div class="form-group" style="<%= formGroup %>">
          <label style="<%= labelSpaceWidth%>" class="<%= labelColClass %>" for="description" >Description</label>
          <div class="<%= textBoxColClass %>">
            <textarea style="height : 60px;" class="form-control" name="description" id="description"></textarea>
          </div>
        </div> 

        <br />
        <br />

        <!-- accordian --> 
        <div class="panel-group calibriFont" id="accordion">
          <%- partial ( 'masterpartial' ) %>                       
          <%- partial ( 'usermanagementpartial' ) %>                                                    
          <%- partial ( 'customerpartial' ) %>   
          <%- partial ( 'projectpartial' ) %>   
          <%- partial ( 'reportpartial' ) %>  
          <%- partial ( 'contactpartial' ) %> 
        </div>

        <!-- Save button -->
        <div class="form-group" style="<%= formGroup %>">
          <div class="col-lg-10 col-lg-offset-2" style="margin-top : 10px;">
            <input type="submit" class="btn btn-primary" value="Save" />
          </div>
        </div>

      </fieldset>
    </form>
  </div>
</div>

<script type="text/javascript">

  var inputs = document.getElementsByTagName('input');
  for(var i = 0 ; i < inputs.length ; i++ ) { 
    if(inputs[i].getAttribute('type').localeCompare('checkbox') === 0 ){
      inputs[i].checked = true ;
    }
  }
  
</script>